#{{ ansible_managed }}
client
nobind
dev {{openvpn_device}}
remote-cert-tls server
remote {{openvpn_server_addr}} {{openvpn_port}}
key-direction 1
proto {{openvpn_protocol}}
cipher AES-128-CBC

auth SHA256

{% if openvpn_comp_lzo -%}
comp-lzo
{% else -%}
;comp-lzo
{% endif %}
verb {{openvpn_verb}}
reneg-sec {{openvpn_reneg_sec}}

{% if ca_cert == "" -%}
;{{ca_cert}}
{% else -%}
ca {{ca_cert}}
{% endif -%}

{% if client_cert == ""-%}
;{client_cert}}
{% else -%}
cert {{client_cert}}
{% endif -%}

{% if client_key == "" -%}
;{{client_key}}
{% else -%}
key {{client_key}}
{% endif -%}

{% if tls_auth_key == "" -%}
;{{tls_auth_key}}
{% else -%}
tls-auth {{tls_auth_key}}
{% endif -%}
