#{{ ansible_managed }}
client
nobind
dev {{openvpn_device}}
remote-cert-tls server
remote {{openvpn_server_addr}} {{openvpn_port}}
key-direction 1
proto {{openvpn_protocol}}
auth-nocache
{% if openvpn_comp_lzo -%}
comp-lzo
{% else -%}
;comp-lzo
{% endif %}
verb {{openvpn_verb}}
reneg-sec {{openvpn_reneg_sec}}

{% if ca_cert == null -%}
;<ca>
;{{ca_cert}}
;</ca>
{% else -%}
<ca>
{{ca_cert}}
</ca>
{% endif -%}

{% if client_cert == null -%}
;<cert>
;{client_cert}}
;</cert>
{% else -%}
<cert>
{{client_cert}}
</cert>
{% endif -%}

{% if client_key == null -%}
;<key>
;{{client_key}}
;</key>
{% else -%}
<key>
{{client_key}}
</key>
{% endif -%}

{% if tls_auth_key == null -%}
;<tls-auth>
;{{tls_auth_key}}
;</tls-auth>
{% else -%}
<tls-auth>
{{tls_auth_key}}
</tls-auth>
{% endif -%}
