#{{ ansible_managed }}
client
nobind
dev {{openvpn_device}}
remote-cert-tls server
remote {{openvpn_server_addr}} {{openvpn_port}}
key-direction 1
proto {{openvpn_protocol}}
auth-nocache
{% if openvpn_comp_lzo -%}
comp-lzo
{% else -%}
;comp-lzo
{% endif %}
verb {{openvpn_verb}}
reneg-sec {{openvpn_reneg_sec}}

<ca>
{{ca_cert}}
</ca>
<cert>
{{client_cert}}
</cert>
<key>
{{client_key}}
</key>
<tls-auth>
{{tls_auth_key}}
</tls-auth>
