
client
nobind

dev {{openvpn_device}}
remote-cert-tls server
 
remote {{openvpn_server_addr}} {{openvpn_port}}
 
key-direction {{num}}
proto {{openvpn_protocol}}
auth-nocache

{% if openvpn_comp_lzo -%}
comp-lzo
{% else -%}
;comp-lzo
{% endif %}

verb {{openvpn_verb}}

reneg-sec {{seconds}}

{% if openvpn_use_pass %}
auth-user-pass
{% endif %}

{{ca_cert}}
{{client_cert}}
{{client_key}}
{{tls_auth_key}}

